---
openapi: 3.0.3
info:
  title: Wire API (development)
  version: 1.0.0
  description: The API for the Clientwire messaging service.
  termsOfService: https://clientwire.net/terms
  contact:
    email: support@clientwire.net
    name: Support
    url: https://www.clientwire.net/
servers:
- url: https://api.production.clientwire.net
- url: https://api.staging.clientwire.net
- url: https://api.int.clientwire.net
tags:
- name: Signup
  description: Operations related to signup.
- name: Signin
  description: Operations related to signin.
- name: Password Reset
  description: Operations related to resetting the password.
- name: Conversation Types
  description: Operations for tenant-level conversation types.
- name: Conversations
  description: Operations for conversations.
- name: Participants
  description: Operations for participants.
- name: Messages
  description: Operations for conversations.
- name: Users
  description: Operations related to users.
- name: Tenants
  description: Operations related to tenants.
- name: Tenant Config
  description: Operations related to tenant configurations.
- name: API Keys
  description: Operations related to users.
- name: OIDC Configs
  description: Operations related to OIDC configurations.
- name: SMS Settings
  description: Operations for managing per-tenant Twilio SMS settings.
- name: Geocoding
  description: Operations to geocode locations.
- name: Webhooks
paths:
  /api/v1/api-keys:
    get:
      summary: List the API keys for this tenant.
      operationId: listApiKeys
      tags:
      - API Keys
      responses:
        "200":
          description: List of API keys returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyList"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
    post:
      summary: Create a new API key for this tenant.
      operationId: createApiKey
      tags:
      - API Keys
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyRequest"
        required: true
      responses:
        "201":
          description: API key created successfully.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
  /api/v1/api-keys/{key_id}:
    delete:
      summary: Delete an API key by key_id.
      operationId: deleteApiKey
      tags:
      - API Keys
      parameters:
      - name: key_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: API key deleted successfully.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
  /api/v1/auth/{tenant_id}/oauth2/token:
    post:
      summary: OAuth2 Token Endpoint
      description: "OAuth2-style token endpoint. \nSupports multiple grant_type values:\n\
        \ - authorization_code  (PKCE optional) // NOT YET IMPLEMENTED\n - password\
        \            (ROPC)\n - refresh_token\n - urn:ietf:params:oauth:grant-type:token-exchange\
        \ (Token Exchange)\n \nFor the Token Exchange grant_type, the subject_token_type\
        \ can be:\n - urn:clientwire:token-type:client-participant-auth-key\n - urn:ietf:params:oauth:token-type:access_token\n\
        \ \nurn:clientwire:token-type:client-participant-auth-key is a special token\
        \ type for exchanging a client's participant auth key for an access token.\n\
        urn:ietf:params:oauth:token-type:access_token is for our token-exchange service\
        \ to exchange your access token with a Clientwire access token by verifying\
        \ it at your provided userinfo endpoint.\n"
      operationId: oauth2TokenEndpoint
      tags:
      - Signin
      parameters:
      - name: tenant_id
        in: path
        required: true
        schema:
          type: string
          nullable: true
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  nullable: true
                client_id:
                  type: string
                  nullable: true
                client_secret:
                  type: string
                  nullable: true
                scope:
                  type: string
                  nullable: true
                username:
                  type: string
                  nullable: true
                password:
                  type: string
                  nullable: true
                subject_token:
                  type: string
                  nullable: true
                subject_token_type:
                  type: string
                  nullable: true
                code:
                  type: string
                  nullable: true
                redirect_uri:
                  type: string
                  nullable: true
                code_verifier:
                  type: string
                  nullable: true
                provider_name:
                  type: string
                  nullable: true
                refresh_token:
                  type: string
                  nullable: true
        required: true
      responses:
        "200":
          description: Successful token issuance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponseDto"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
  /api/v1/auth/{tenant_id}/options:
    get:
      summary: Returns a list of signin options of the user.
      description: "Based on the tenant_id and the email, we lookup what options for\
        \ signin are available."
      operationId: signinOptions
      tags:
      - Signin
      parameters:
      - name: tenant_id
        in: path
        required: true
        schema:
          type: string
      - name: email
        in: query
        schema:
          type: string
        required: true
      responses:
        "200":
          description: Returns signin options.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationOptions"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
  /api/v1/auth/{tenant_id}/password-reset:
    post:
      summary: Request a password reset.
      description: Request a password reset for the specified user.
      operationId: resetPassword
      tags:
      - Password Reset
      parameters:
      - name: tenant_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetPasswordRequest"
        required: true
      responses:
        "204":
          description: The password reset has been initiated or user not found.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "415":
          description: Unsupported Content Type.
  /api/v1/auth/{tenant_id}/password-reset/set:
    post:
      summary: Set password after reset.
      description: Provide the token and new password to complete the reset.
      operationId: setPassword
      tags:
      - Password Reset
      parameters:
      - name: tenant_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetPasswordRequest"
        required: true
      responses:
        "204":
          description: The password has been updated.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "415":
          description: Unsupported Content Type.
  /api/v1/client-participant/me:
    get:
      summary: Get information about the client participant and its conversation.
      description: Retrieves the participant details for the calling CLIENT_PARTICIPANT
        token.
      operationId: getClientParticipantHimself
      tags:
      - Participants
      responses:
        "200":
          description: Participant data returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participant"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - BearerAuth:
        - CLIENT_PARTICIPANT
  /api/v1/conversation-types:
    get:
      summary: List all conversation types for the specified tenant.
      description: Returns all conversation types for the tenant.
      operationId: getConversationTypes
      tags:
      - Conversation Types
      responses:
        "200":
          description: List of conversation types returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationTypeListResponse"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
    post:
      summary: Create a new conversation type for the specified tenant.
      description: Creates a conversation type for a tenant.
      operationId: createConversationType
      tags:
      - Conversation Types
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationTypePostRequest"
        required: true
      responses:
        "201":
          description: Conversation type created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationType"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
  /api/v1/conversation-types/{conversation_type_id}:
    patch:
      summary: Update partial fields of an existing conversation type.
      description: Allows patching only specific fields of a conversation type.
      operationId: updateConversationType
      tags:
      - Conversation Types
      parameters:
      - name: conversation_type_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: The patch body for updating conversation type fields.
        required: true
        content:
          application/json:
            schema:
              description: "Allowed fields are: id, description, conversation_data_schema,\
                \ conversation_data_list_item_template."
              type: object
              additionalProperties: {}
              example:
                description: new description
      responses:
        "200":
          description: Conversation type updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationType"
        "404":
          description: Not found.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
    get:
      summary: Get a single conversation type.
      description: Retrieves a conversation type by its ID.
      operationId: getConversationType
      tags:
      - Conversation Types
      parameters:
      - name: conversation_type_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Conversation type found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationType"
        "404":
          description: Not found.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
    delete:
      summary: Delete a conversation type.
      description: Removes a conversation type by its ID.
      operationId: deleteConversationType
      tags:
      - Conversation Types
      parameters:
      - name: conversation_type_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Conversation type deleted successfully.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
    put:
      summary: Create or update a conversation type.
      description: "If not found, conversation type is created; otherwise it is updated."
      operationId: createOrUpdateConversationType
      tags:
      - Conversation Types
      parameters:
      - name: conversation_type_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationTypePostRequest"
        required: true
      responses:
        "201":
          description: Conversation type created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationType"
        "200":
          description: Conversation type updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationType"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
  /api/v1/conversations:
    get:
      summary: List all conversations for the specified tenant.
      description: Returns a paginated list of conversations for the tenant.
      operationId: getConversations
      tags:
      - Conversations
      parameters:
      - name: archived
        in: query
        schema:
          type: boolean
          nullable: true
      - description: Only include messages created after this date-time
        schema:
          format: date-time
        name: created_after
        in: query
      - description: Only include messages created before this date-time
        schema:
          format: date-time
        name: created_before
        in: query
      - description: |-
          Include the specified related resources in the response.
          Supported values: 'PARTICIPANTS', 'CONVERSATION_TYPE', 'CURRENT_USER_READ_STATUS'.
          If empty, no related resource is returned
        schema:
          example: "PARTICIPANTS,CONVERSATION_TYPE"
        name: include
        in: query
      - name: limit
        in: query
        schema:
          format: int32
          default: 10
          type: integer
      - name: offset
        in: query
        schema:
          format: int32
          default: 0
          type: integer
      - description: "Direction of the sort. Possible values: ASC, DESC. If not provided\
          \ will fallback to DESC."
        schema:
          example: created_at
        name: order
        in: query
      - description: "Sort result based on this field. Possible values: created_at,\
          \ updated_at. If not provided it will fallback to created_at"
        schema:
          example: created_at
        name: order_by
        in: query
      - name: search
        in: query
        schema:
          type: string
          nullable: true
      - description: Only include messages updated after this date-time
        schema:
          format: date-time
        name: updated_after
        in: query
      - description: Only include messages updated before this date-time
        schema:
          format: date-time
        name: updated_before
        in: query
      responses:
        "200":
          description: List of conversations returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationPaginatedResponse"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
    post:
      summary: Create a new conversation for the specified tenant.
      description: Creates a conversation and optional participants.
      operationId: createConversation
      tags:
      - Conversations
      parameters:
      - description: |-
          Include the specified related resources in the response.
          Supported values: 'PARTICIPANTS', 'CONVERSATION_TYPE', 'CURRENT_USER_READ_STATUS'.
          If empty, no related resource is returned
        schema:
          example: "PARTICIPANTS,CONVERSATION_TYPE"
        name: include
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationPostRequest"
        required: true
      responses:
        "201":
          description: Conversation created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
  /api/v1/conversations/by_ids:
    post:
      summary: Get a list of conversations by their ids.
      description: Retrieves multiple conversations by their public IDs in a POST
        request body.
      operationId: getConversationsByIds
      tags:
      - Conversations
      parameters:
      - description: |-
          Include the specified related resources in the response.
          Supported values: 'PARTICIPANTS', 'CONVERSATION_TYPE', 'CURRENT_USER_READ_STATUS'.
          If empty, no related resource is returned
        schema:
          example: "PARTICIPANTS,CONVERSATION_TYPE"
        name: include
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationsByIdsRequest"
        required: true
      responses:
        "200":
          description: List of conversations returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationListResponse"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
  /api/v1/conversations/{conversation_id}:
    patch:
      summary: Update partial fields of an existing conversation.
      description: "Allows patching id, archived, conversation_data, etc."
      operationId: updateConversation
      tags:
      - Conversations
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - description: |-
          Include the specified related resources in the response.
          Supported values: 'PARTICIPANTS', 'CONVERSATION_TYPE', 'CURRENT_USER_READ_STATUS'.
          If empty, no related resource is returned
        schema:
          example: "PARTICIPANTS,CONVERSATION_TYPE"
        name: include
        in: query
      requestBody:
        description: The patch body for updating conversation fields.
        required: true
        content:
          application/json:
            schema:
              description: "The fields to update. Allowed fields are: id, archived\
                \ and conversation_data."
              type: object
              additionalProperties: {}
              example:
                conversation_data: new-data
      responses:
        "200":
          description: Conversation updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "404":
          description: Not found.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
    get:
      summary: Get a single conversation.
      description: Retrieves conversation details by ID.
      operationId: getConversation
      tags:
      - Conversations
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - description: |-
          Include the specified related resources in the response.
          Supported values: 'PARTICIPANTS', 'CONVERSATION_TYPE', 'CURRENT_USER_READ_STATUS'.
          If empty, no related resource is returned
        schema:
          example: "PARTICIPANTS,CONVERSATION_TYPE"
        name: include
        in: query
      responses:
        "200":
          description: Conversation found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "404":
          description: Not found.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
        - CLIENT_PARTICIPANT
    delete:
      summary: Delete a conversation.
      description: Removes a conversation by ID.
      operationId: deleteConversation
      tags:
      - Conversations
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Conversation deleted successfully.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
    put:
      summary: Create or update a conversation.
      description: "If it doesn't exist, creates it; otherwise updates it."
      operationId: createOrUpdateConversation
      tags:
      - Conversations
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - description: |-
          Include the specified related resources in the response.
          Supported values: 'PARTICIPANTS', 'CONVERSATION_TYPE', 'CURRENT_USER_READ_STATUS'.
          If empty, no related resource is returned
        schema:
          example: "PARTICIPANTS,CONVERSATION_TYPE"
        name: include
        in: query
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationPutRequest"
      responses:
        "201":
          description: Conversation created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "200":
          description: Conversation updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
  /api/v1/conversations/{conversation_id}/messages:
    get:
      summary: Get messages of a conversation.
      description: Returns a paginated list of messages for the conversation.
      operationId: getMessages
      tags:
      - Messages
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - description: Only include messages created after this date-time
        schema:
          format: date-time
        name: created_after
        in: query
      - description: Only include messages created before this date-time
        schema:
          format: date-time
        name: created_before
        in: query
      - description: "If using sequence-based pagination, the last known sequence."
        name: last_sequence
        in: query
        schema:
          format: int32
          type: integer
          nullable: true
      - description: Max number of messages to return (page size)
        name: limit
        in: query
        schema:
          format: int32
          type: integer
          nullable: true
      - description: Starting offset for pagination
        name: offset
        in: query
        schema:
          format: int32
          type: integer
          nullable: true
      - description: Sort direction (asc/desc)
        name: order
        in: query
        schema:
          type: string
          nullable: true
      - description: "Field to sort by, e.g. 'createdAt' or 'updatedAt'"
        name: order_by
        in: query
        schema:
          type: string
          nullable: true
      - description: Only include messages updated after this date-time
        schema:
          format: date-time
        name: updated_after
        in: query
      - description: Only include messages updated before this date-time
        schema:
          format: date-time
        name: updated_before
        in: query
      responses:
        "200":
          description: Messages retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessagePaginatedResponse"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - CLIENT_PARTICIPANT
        - USER
        - OWNER
        - API_KEY
    post:
      summary: Add a new message to a conversation.
      description: Queues a message to be added to the conversation.
      operationId: createMessage
      tags:
      - Messages
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MessagePostRequest"
      responses:
        "201":
          description: Message queued for adding successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - CLIENT_PARTICIPANT
        - USER
        - OWNER
        - API_KEY
  /api/v1/conversations/{conversation_id}/messages/{message_id}:
    get:
      summary: Get a single message in the specified conversation.
      description: Retrieves details of a specific message by ID.
      operationId: getMessage
      tags:
      - Messages
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - name: message_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Message retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - CLIENT_PARTICIPANT
        - USER
        - OWNER
        - API_KEY
  /api/v1/conversations/{conversation_id}/participants:
    get:
      summary: List all participants in the specified conversation.
      description: Returns all participants for a conversation.
      operationId: getParticipants
      tags:
      - Participants
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: A list of conversation participants.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ParticipantListResponse"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
    post:
      summary: Create a new participant in the specified conversation.
      description: Creates a conversation participant.
      operationId: createParticipant
      tags:
      - Participants
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParticipantPostRequest"
        required: true
      responses:
        "201":
          description: Participant created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participant"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
  /api/v1/conversations/{conversation_id}/participants/notify:
    post:
      summary: Notify conversation client participants.
      description: Sends a notification to participants of the conversation.
      operationId: notifyClientParticipants
      tags:
      - Participants
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Participants notified successfully.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
  /api/v1/conversations/{conversation_id}/participants/{participant_id}:
    patch:
      summary: Patch partial fields of a participant.
      description: "Allows updating only display_name, phone_number, email, etc."
      operationId: updateParticipant
      tags:
      - Participants
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - name: participant_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
        required: true
      responses:
        "200":
          description: Participant updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participant"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
    get:
      summary: Get a single participant in the specified conversation.
      description: Retrieves participant details by ID.
      operationId: getParticipant
      tags:
      - Participants
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - name: participant_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: The conversation participant.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participant"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
    delete:
      summary: Delete a participant from the specified conversation.
      description: Removes a participant by ID.
      operationId: deleteParticipant
      tags:
      - Participants
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - name: participant_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Participant deleted successfully.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
    put:
      summary: Create or update a participant in the specified conversation.
      description: "If participant doesn’t exist, it is created, otherwise it is fully\
        \ updated."
      operationId: createOrUpdateParticipant
      tags:
      - Participants
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - name: participant_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParticipantPutRequest"
        required: true
      responses:
        "201":
          description: Participant created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participant"
        "200":
          description: Participant updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participant"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
  /api/v1/conversations/{conversation_id}/participants/{participant_id}/activity:
    post:
      summary: Record participant activity.
      description: "Update participant’s message-seen info, etc."
      operationId: updateParticipantActivity
      tags:
      - Participants
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - name: participant_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParticipantActivityRequest"
        required: true
      responses:
        "200":
          description: Conversation participant activity updated successfully.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - CLIENT_PARTICIPANT
        - USER
        - OWNER
        - API_KEY
  /api/v1/geocoder/reverse:
    get:
      summary: Reverse geocode a location.
      description: "Given latitude/longitude, returns the address."
      operationId: reverseGeocode
      tags:
      - Geocoding
      parameters:
      - name: latitude
        in: query
        schema:
          format: double
          type: number
      - name: longitude
        in: query
        schema:
          format: double
          type: number
      responses:
        "200":
          description: Reverse geocoding successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationWithAddress"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - CLIENT_PARTICIPANT
        - USER
        - OWNER
        - API_KEY
  /api/v1/geocoder/search:
    get:
      summary: Search for a location.
      description: "Given a text query, returns a geocoded address."
      operationId: searchGeocode
      tags:
      - Geocoding
      parameters:
      - name: text
        in: query
        schema:
          type: string
        required: true
      responses:
        "200":
          description: Geocode search successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationWithAddress"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - CLIENT_PARTICIPANT
        - USER
        - OWNER
        - API_KEY
  /api/v1/geocoder/search/structured:
    get:
      summary: Search for a location (structured).
      description: "Given partial address fields, returns a geocoded address."
      operationId: searchStructuredGeocode
      tags:
      - Geocoding
      parameters:
      - name: country
        in: query
        schema:
          type: string
          nullable: true
      - name: postalCode
        in: query
        schema:
          format: int32
          type: integer
          nullable: true
      - name: street
        in: query
        schema:
          type: string
        required: true
      responses:
        "200":
          description: Structured geocode search successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationWithAddress"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - CLIENT_PARTICIPANT
        - USER
        - OWNER
        - API_KEY
  /api/v1/oidc-configs:
    get:
      summary: List all OIDC provider configs for the specified tenant.
      description: Retrieves all OIDC configs for the given tenant.
      operationId: listOidcProviders
      tags:
      - OIDC Configs
      responses:
        "200":
          description: All OIDC configs returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OidcConfigList"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
    post:
      summary: Create a new OIDC provider config for the specified tenant.
      description: Creates an OIDC config if it does not already exist for that provider.
      operationId: createOidcProvider
      tags:
      - OIDC Configs
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOidcConfigRequest"
        required: true
      responses:
        "201":
          description: OIDC config created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OidcConfig"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
  /api/v1/oidc-configs/{provider_name}:
    patch:
      summary: Update partial fields of an existing OIDC provider config.
      description: "Allows updating only certain fields like client_id, authority_url,\
        \ client_secret, scope."
      operationId: patchOidcProvider
      tags:
      - OIDC Configs
      parameters:
      - name: provider_name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: The patch body for updating OIDC provider config fields.
        required: true
        content:
          application/json:
            schema:
              description: "Allowed fields are: client_id, authority_url, client_secret,\
                \ scope."
              type: object
              additionalProperties: {}
              example:
                client_secret: new-secret
      responses:
        "200":
          description: OIDC config updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OidcConfig"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
    get:
      summary: Get a single OIDC provider config by provider name.
      description: Finds an OIDC provider config by its provider name.
      operationId: getOidcProvider
      tags:
      - OIDC Configs
      parameters:
      - name: provider_name
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OIDC provider found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OidcConfig"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
    delete:
      summary: Delete an OIDC provider config.
      description: Removes an OIDC provider config from the tenant’s configuration.
      operationId: deleteOidcProvider
      tags:
      - OIDC Configs
      parameters:
      - name: provider_name
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: OIDC provider config deleted successfully.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
  /api/v1/signup:
    post:
      summary: Create a new account and user.
      description: Tenant and user created successfully. You should now be able to
        login.
      operationId: signup
      tags:
      - Signup
      requestBody:
        description: The data needed to sign up a new tenant and user.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignupRequest"
      responses:
        "201":
          description: Tenant and user created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignupResponse"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
  /api/v1/signup/machine:
    post:
      summary: Signup for automation/machines.
      description: "Signup for automated new tenant creation. You will need an existing\
        \ 'main' tenant thathas been provisioned to allow machine setup. Instead of\
        \ creating a user, we will create anAPI key for you."
      operationId: signupAsMachine
      tags:
      - Signup
      requestBody:
        description: The data needed to sign up a new tenant with api key.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignupMachineRequest"
      responses:
        "201":
          description: Tenant and API key created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignupResponse"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
  /api/v1/sms/twilio:
    put:
      summary: Create or update Twilio SMS settings for this tenant.
      description: Upserts the Twilio SMS settings for the specified tenant.
      operationId: upsertTwilioSmsSettings
      tags:
      - SMS Settings
      requestBody:
        description: Twilio SMS settings data
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TwilioSettings"
        required: true
      responses:
        "200":
          description: Settings created or updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TwilioSettings"
        "400":
          description: Bad request.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
    get:
      summary: Get the Twilio SMS settings for this tenant.
      description: Returns the Twilio SMS settings if available.
      operationId: getTwilioSmsSettings
      tags:
      - SMS Settings
      responses:
        "200":
          description: Returned Twilio SMS settings (if any).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TwilioSettings"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
    delete:
      summary: Delete the Twilio SMS settings for this tenant.
      description: Removes the Twilio SMS settings for the tenant if they exist.
      operationId: deleteTwilioSmsSettings
      tags:
      - SMS Settings
      responses:
        "204":
          description: Deleted successfully.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
  /api/v1/tenant:
    patch:
      summary: Update a tenant by ID.
      description: Updates tenant fields such as name or subdomain.
      operationId: updateTenant
      tags:
      - Tenants
      requestBody:
        description: The patch body for updating tenant fields.
        required: true
        content:
          application/json:
            schema:
              description: "The patch body for updating tenant fields. Allowed fields\
                \ are: name, subdomain, token_exchange_userinfo_url and user_auto_provisioning_domains."
              type: object
              additionalProperties: {}
              example:
                name: new-name
      responses:
        "200":
          description: Tenant updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tenant"
        "404":
          description: Not found.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
    get:
      summary: Get a tenant by ID.
      description: Returns the tenant.
      operationId: getTenant
      tags:
      - Tenants
      responses:
        "200":
          description: Returns the tenant.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tenant"
        "404":
          description: Not found.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
  /api/v1/tenant/config:
    get:
      summary: Get the current config for the tenant specified via query parameters.
      description: Either tenant_subdomain or tenant_id must be provided
      operationId: getTenantConfig
      tags:
      - Tenant Config
      parameters:
      - description: Get tenant config for the specified ID.
        required: false
        name: tenant_id
        in: query
        schema:
          type: string
          nullable: true
      - description: Get tenant config for the specified subdomain.
        required: false
        name: tenant_subdomain
        in: query
        schema:
          type: string
          nullable: true
      responses:
        "200":
          description: Returns the tenant config.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantConfig"
        "404":
          description: Not found.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "415":
          description: Unsupported Content Type.
  /api/v1/users:
    get:
      summary: List all users.
      description: Returns a list of all users for the tenant.
      operationId: listAllUsers
      tags:
      - Users
      responses:
        "200":
          description: A list of users returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserListResponse"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
    post:
      summary: Create a new user.
      description: Creates a new user with the provided details.
      operationId: createUser
      tags:
      - Users
      requestBody:
        description: The details of the user to create.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
      responses:
        "201":
          description: User created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
  /api/v1/users/me:
    get:
      summary: Get the currently authenticated user.
      description: Returns the current user for the authenticated request.
      operationId: getCurrentUser
      tags:
      - Users
      responses:
        "200":
          description: The currently authenticated user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - USER
  /api/v1/users/{user_id}:
    get:
      summary: Get a user by ID.
      description: Returns details of a user by tenant ID and user ID.
      operationId: getUser
      tags:
      - Users
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/UUID"
      responses:
        "200":
          description: The user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
    delete:
      summary: Delete a user.
      description: Deletes a user by ID for the specified tenant.
      operationId: deleteUser
      tags:
      - Users
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: User deleted successfully.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
  /api/v1/webhook-settings:
    put:
      summary: Update or create webhook settings (endpoint URL only).
      description: "Allows setting the endpoint_url field. If the row doesn't exist,\
        \ it will be created."
      operationId: setWebhookSettings
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookSettingsRequest"
        required: true
      responses:
        "200":
          description: Endpoint URL updated (or created).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateWebhookSettingsRequest"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
    get:
      summary: Get the tenant’s webhook settings.
      description: "Returns the current endpoint URL, signature scheme, and optionally\
        \ the secret in plain text. In some scenarios, you might choose not to return\
        \ the plain secret for security."
      operationId: getWebhookSettings
      tags:
      - Webhooks
      responses:
        "200":
          description: Webhook settings returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateWebhookSettingsRequest"
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
  /api/v1/webhook-settings/rotate-secret:
    post:
      summary: Rotate the webhook secret. Optionally update the signature scheme.
      description: "Generates a new random whsec_ secret, encrypts it, and saves.\
        \ Returns the plaintext once."
      operationId: rotateWebhooksSecret
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RotateWebhookSecretRequest"
        required: true
      responses:
        "200":
          description: "Secret rotated, new plain secret returned."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RotateWebhookSecretRequest"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
  /api/v1/webhook-settings/test:
    post:
      summary: Trigger a test webhook event
      description: "\n            Enqueues a \"test.webhook\" event to be sent to\
        \ your currently configured\n            webhook endpoint. This can help you\
        \ verify your endpoint is receiving and\n            verifying Standard Webhooks\
        \ signatures correctly.\n            \n            **Important**: Make sure\
        \ you've set your webhook endpoint URL \n            via `PUT /api/v1/webhook-settings`\
        \ before calling this.\n            \n            The test event payload is:\n\
        \            ```\n            {\n              \"type\": \"test.webhook\"\
        ,\n              \"timestamp\": \"2025-01-01T12:00:00Z\",\n              \"\
        data\": {\n                \"example\": \"Hello World!\"\n              }\n\
        \            }\n            ```\n            The event is signed using your\
        \ stored secret, \n            then delivered to the endpoint URL with standard\
        \ headers:\n            - `webhook-id`: a unique message ID \n           \
        \ - `webhook-timestamp`: an integer (Unix seconds)\n            - `webhook-signature`:\
        \ the signature(s), e.g. `v1,...`\n            If the endpoint responds with\
        \ a 2xx status, the queue marks it successful. \n            Otherwise, the\
        \ queue retries automatically, up to 6 times.\n        "
      operationId: triggerTestWebhook
      tags:
      - Webhooks
      responses:
        "204":
          description: A test webhook event has been scheduled.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - BearerAuth:
        - OWNER
        - API_KEY
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Authenticate via a JWT token, issued by Wire."
    ApiKeyAuth:
      type: apiKey
      name: X-API-KEY
      in: header
      description: Authenticate via an API key.
  schemas:
    Activity:
      enum:
      - MESSAGE_SEEN
      - IS_TYPING
      - HAS_CONVERSATION_OPEN
      type: string
    ApiKeyList:
      description: Wrapper object for returning a list of API keys.
      required:
      - api_keys
      type: object
      properties:
        api_keys:
          description: List of API keys for this tenant.
          type: array
          items:
            $ref: "#/components/schemas/ApiKeyListItem"
    ApiKeyListItem:
      required:
      - key_id
      type: object
      properties:
        key_id:
          description: "The ID of the API key (public portion, not secret)."
          type: string
        name:
          description: An optional display name for this key
          type: string
          nullable: true
        expires_at:
          description: Optional expiration time in ISO-8601 format
          type: string
          allOf:
          - $ref: "#/components/schemas/Instant"
          example: 2025-01-01T00:00:00Z
          nullable: true
    AssetResponse:
      type: object
      properties:
        download_url:
          description: URL to download the created asset
          type: string
          example: "null"
          nullable: true
        upload_url:
          description: URL to upload a asset
          type: string
          example: "null"
          nullable: true
        status:
          description: The status of the asset.
          type: string
          allOf:
          - $ref: "#/components/schemas/Status"
          example: UPLOAD_COMPLETED
          nullable: true
    AuthenticationOptions:
      required:
      - oidc_providers
      type: object
      properties:
        email:
          format: boolean
          description: If email login is available.
          type: boolean
          example: true
        webauthn:
          format: boolean
          description: If WebAuthN/PassKey login is available.
          type: boolean
          example: false
        oidc_providers:
          description: Which OIDC providers are available for login.
          type: array
          items:
            $ref: "#/components/schemas/LoginOptionsOidcProvider"
    Conversation:
      required:
      - id
      - tenant_id
      - archived
      - conversation_type_id
      type: object
      properties:
        id:
          description: Unique identifier for a conversation.
          maxLength: 50
          pattern: "\"^[a-zA-Z0-9][a-zA-Z0-9_-]*[a-zA-Z0-9]?$\""
          type: string
          example: Abc123
        tenant_id:
          description: Unique identifier for the tenant.
          type: string
          allOf:
          - $ref: "#/components/schemas/UUID"
          example: ace00000-ace0-ace0-ace0-ace000000000
        archived:
          description: Indicates whether the conversation is archived.
          type: boolean
          example: true
        conversation_type_id:
          description: Unique identifier for a conversation type.
          maxLength: 50
          pattern: "\"^[a-zA-Z0-9][a-zA-Z0-9_-]*[a-zA-Z0-9]?$\""
          type: string
          example: breakdowncase
          nullable: true
        conversation_type:
          description: The whole conversation_type type object.
          type: object
          allOf:
          - $ref: "#/components/schemas/ConversationType"
          nullable: true
        created_at:
          description: Timestamp when the conversation was created.
          type: string
          allOf:
          - $ref: "#/components/schemas/Instant"
          example: 2022-11-03T20:26:10.344522Z
          nullable: true
        updated_at:
          description: Timestamp when the conversation was last updated. Initially
            the same as created_at.
          type: string
          allOf:
          - $ref: "#/components/schemas/Instant"
          example: 2022-11-03T20:26:10.344522Z
          nullable: true
        conversation_data:
          description: The data of a conversation corresponding to the conversation_data_schema
            of the conversation type.
          maxLength: 1073741824
          example:
            status: in_progress
            details: Car breakdown on highway.
        conversation_data_updated_at:
          description: Timestamp when the conversation data was last updated.
          type: string
          allOf:
          - $ref: "#/components/schemas/Instant"
          example: 2022-11-03T21:26:10.344522Z
          nullable: true
        participants:
          description: The list of participants in the conversation.
          type: array
          items:
            $ref: "#/components/schemas/Participant"
          example: "null"
          nullable: true
        current_user_read_status:
          description: The read status of the current user in the conversation.
          type: object
          allOf:
          - $ref: "#/components/schemas/CurrentUserReadStatus"
          nullable: true
    ConversationListResponse:
      type: object
      properties:
        conversations:
          description: ""
          type: array
          items:
            $ref: "#/components/schemas/Conversation"
          example: "null"
          nullable: true
    ConversationPaginatedResponse:
      required:
      - has_more
      - total_elements
      - limit
      - conversations
      type: object
      properties:
        has_more:
          description: Indicates if there are more pages to fetch.
          type: boolean
          example: "null"
        total_elements:
          format: int32
          description: Total number of elements across all pages.
          type: integer
          example: "null"
          nullable: true
        limit:
          format: int32
          description: The maximum number of elements in this page.
          type: integer
          example: "null"
          nullable: true
        conversations:
          description: ""
          type: array
          items:
            $ref: "#/components/schemas/Conversation"
          example: "null"
        offset:
          format: int32
          description: The offset of the first element in this page (for offset-based
            pagination). Either offset or last_sequence must be set.
          type: integer
          example: "null"
          nullable: true
        last_sequence:
          format: int32
          description: The sequence (or key) of the last element in this page (for
            key-based pagination). Either offset or last_sequence must be set.
          type: integer
          example: "null"
          nullable: true
    ConversationPostRequest:
      required:
      - id
      - conversation_type_id
      type: object
      properties:
        id:
          description: Unique identifier for a conversation.
          maxLength: 50
          pattern: "\"^[a-zA-Z0-9][a-zA-Z0-9_-]*[a-zA-Z0-9]?$\""
          type: string
          example: Abc123
          nullable: true
        conversation_type_id:
          description: The id of the conversation type to be assigned to this conversation.
          maxLength: 50
          pattern: "\"^[a-zA-Z0-9][a-zA-Z0-9_-]*[a-zA-Z0-9]?$\""
          type: string
          example: breakdowncase
        conversation_data:
          description: The data of a conversation corresponding to the conversation_data_schema
            of the conversation type.
          maxLength: 1073741824
          example:
            status: in_progress
            details: Car breakdown on highway.
        participants:
          description: ""
          type: array
          items:
            $ref: "#/components/schemas/ParticipantPostRequest"
          example: "null"
          nullable: true
    ConversationPutRequest:
      required:
      - id
      - conversation_type_id
      type: object
      properties:
        id:
          description: "Unique identifier for a conversation. If the conversation\
            \ is created, this field will be ignored. The id from the URL takes precedence."
          type: string
          example: Abc123
        conversation_type_id:
          description: "Unique identifier for a conversation type. If the conversation\
            \ already exists, this field will be ignored."
          maxLength: 50
          pattern: "\"^[a-zA-Z0-9][a-zA-Z0-9_-]*[a-zA-Z0-9]?$\""
          type: string
          example: breakdowncase
        conversation_data:
          description: The data of a conversation corresponding to the conversation_data_schema
            of the conversation type.
          maxLength: 1073741824
          example:
            status: in_progress
            details: Car breakdown on highway.
        archived:
          description: Indicates whether the conversation is archived. This can only
            be set to false if the conversation already exists.
          type: boolean
          example: true
        participants:
          description: ""
          type: array
          items:
            $ref: "#/components/schemas/ParticipantPostRequest"
          example: "null"
          nullable: true
    ConversationType:
      required:
      - id
      - tenant_id
      - created_at
      - updated_at
      type: object
      properties:
        id:
          description: Unique identifier for a conversation type.
          maxLength: 50
          pattern: "\"^[a-zA-Z0-9][a-zA-Z0-9_-]*[a-zA-Z0-9]?$\""
          type: string
          example: breakdowncase
        tenant_id:
          description: Unique identifier for the tenant.
          type: string
          allOf:
          - $ref: "#/components/schemas/UUID"
          example: ace00000-ace0-ace0-ace0-ace000000000
        created_at:
          description: Timestamp when the conversation type was created.
          type: string
          allOf:
          - $ref: "#/components/schemas/Instant"
          example: 2022-11-03T20:26:10.344522Z
        updated_at:
          description: Timestamp when the conversation type was last updated. Initially
            the same as created_at.
          type: string
          allOf:
          - $ref: "#/components/schemas/Instant"
          example: 2022-11-03T20:26:10.344522Z
        description:
          description: A description of what this conversation type is used for.
          type: string
          example: A conversation type for handling breakdown cases.
          nullable: true
        displayNameSharedByUsers:
          description: "If set, all user participants will appear as the same user\
            \ in the conversation to client participants."
          type: string
          example: "true"
          nullable: true
        conversation_data_schema:
          description: A JSON Schema describing the data expected in the conversation.
          maxLength: 1073741824
          example:
            type: object
            properties:
              status:
                type: string
        conversation_data_list_item_template:
          description: A handlebars template string used to render the conversation
            data in a list view. The template can contain placeholders for data in
            the conversation data schema.
          maxLength: 1073741824
          type: string
          example: "{{status}} - {{created_at}}"
          nullable: true
        client_app_header_template:
          description: An HTML template to reader the header in the client app which
            has dynamic values based on the conversation_data
          maxLength: 1073741824
          type: string
          example: "<div>{{client}}</div>"
          nullable: true
    ConversationTypeListResponse:
      required:
      - conversation_types
      type: object
      properties:
        conversation_types:
          description: A list of conversation types.
          type: array
          items:
            $ref: "#/components/schemas/ConversationType"
          example:
          - id: breakdowncase
            tenant_id: ace00000-ace0-ace0-ace0-ace000000000
            created_at: 2022-11-03T20:26:10.344522Z
            updated_at: 2022-11-03T20:26:10.344522Z
            description: A conversation type for handling breakdown cases.
            conversation_data_schema:
              type: object
              properties:
                status:
                  type: string
            conversation_data_list_item_template: "{{status}} - {{created_at}}"
    ConversationTypePostRequest:
      required:
      - id
      type: object
      properties:
        id:
          description: Unique identifier for a conversation type.
          maxLength: 50
          pattern: "\"^[a-zA-Z0-9][a-zA-Z0-9_-]*[a-zA-Z0-9]?$\""
          type: string
          example: breakdowncase
        description:
          description: A description of what this conversation type is used for.
          type: string
          example: A conversation type for handling breakdown cases.
          nullable: true
        displayNameSharedByUsers:
          description: "If set, all user participants will appear as the same user\
            \ in the conversation to client participants."
          type: string
          example: "true"
          nullable: true
        conversation_data_schema:
          description: A JSON Schema describing the data expected in the conversation.
          maxLength: 1073741824
          example:
            type: object
            properties:
              status:
                type: string
        conversation_data_list_item_template:
          description: A handlebars template string used to render the conversation
            data in a list view. The template can contain placeholders for data in
            the conversation data schema.
          maxLength: 1073741824
          type: string
          example: "{{status}} - {{created_at}}"
          nullable: true
        client_app_header_template:
          description: An HTML template to reader the header in the client app which
            has dynamic values based on the conversation_data
          maxLength: 1073741824
          type: string
          example: "<div>{{client}}</div>"
          nullable: true
    ConversationTypePutRequest:
      type: object
      properties:
        id:
          description: Unique identifier for a conversation type.
          maxLength: 50
          pattern: "\"^[a-zA-Z0-9][a-zA-Z0-9_-]*[a-zA-Z0-9]?$\""
          type: string
          example: breakdowncase
          nullable: true
        description:
          description: A description of what this conversation type is used for.
          type: string
          example: A conversation type for handling breakdown cases.
          nullable: true
        displayNameSharedByUsers:
          description: "If set, all user participants will appear as the same user\
            \ in the conversation to client participants."
          type: string
          example: "true"
          nullable: true
        conversation_data_schema:
          description: A JSON Schema describing the data expected in the conversation.
          maxLength: 1073741824
          example:
            type: object
            properties:
              status:
                type: string
        conversation_data_list_item_template:
          description: A handlebars template string used to render the conversation
            data in a list view. The template can contain placeholders for data in
            the conversation data schema.
          maxLength: 1073741824
          type: string
          example: "{{status}} - {{created_at}}"
          nullable: true
        client_app_header_template:
          description: An HTML template to reader the header in the client app which
            has dynamic values based on the conversation_data
          maxLength: 1073741824
          type: string
          example: "<div>{{client}}</div>"
          nullable: true
    ConversationsByIdsRequest:
      required:
      - ids
      type: object
      properties:
        ids:
          description: Array of needed ids
          type: array
          items:
            type: string
          example:
          - convo-1
          - convo-2
    CreateApiKeyRequest:
      type: object
      properties:
        name:
          description: An optional display name for this key
          type: string
          nullable: true
        expires_at:
          description: Optional expiration time in ISO-8601 format
          type: string
          example: 2025-01-01T00:00:00Z
          nullable: true
    CreateApiKeyResponse:
      required:
      - key_id
      - api_key
      type: object
      properties:
        key_id:
          description: "The ID of the API key (public portion, not secret)."
          type: string
        api_key:
          description: The API key itself. You cannot retrieve the API key again.
          type: string
        name:
          description: Optional display name.
          type: string
          nullable: true
        expires_at:
          description: "When this key expires, if any."
          type: string
          allOf:
          - $ref: "#/components/schemas/Instant"
          example: 2022-03-10T16:15:50Z
          nullable: true
    CreateOidcConfigRequest:
      description: DTO for creating or updating a Tenant OIDC configuration
      required:
      - provider_name
      - authority_url
      - client_id
      - client_secret
      type: object
      properties:
        provider_name:
          description: "The provider name, e.g. 'microsoft' or 'google'"
          type: string
          example: microsoft
        authority_url:
          description: "Authority/issuer URL, e.g. 'https://login.microsoftonline.com/<tenant>/v2.0'"
          type: string
          example: https://login.microsoftonline.com/1234-abcd/v2.0
        client_id:
          description: Client ID for this OIDC application
          type: string
          example: 00000000-0000-0000-0000-000000000000
        client_secret:
          description: Client Secret in plaintext. Will be encrypted at rest.
          type: string
          example: super-secret
        scope:
          description: Scopes to request from the OIDC provider
          type: string
          example: openid profile email offline_access
          nullable: true
    CreateUserRequest:
      description: Request body used to create a new user.
      required:
      - email
      - password
      type: object
      properties:
        email:
          format: email
          description: User's email address.
          type: string
          example: user@example.com
        password:
          description: Plain-text password. Will be hashed before storage.
          type: string
          example: mySecretPassword
        firstname:
          description: The first name of the user to create.
          type: string
          example: Philipp
          nullable: true
        lastname:
          description: The last name of the user to create.
          type: string
          example: Schmid
          nullable: true
        role:
          description: The role assigned to the user. OWNER or USER
          default: USER
          type: string
          allOf:
          - $ref: "#/components/schemas/UserRole"
          example: OWNER
          nullable: true
    CurrentUserReadStatus:
      type: object
      properties:
        last_message_seen:
          format: int32
          description: The last seen message sequence number.
          type: integer
          example: 0
        unread_message_count:
          format: int32
          description: The unread message count.
          type: integer
          example: 0
    ErrorResponse:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        errors:
          type: array
          items:
            $ref: "#/components/schemas/ErrorWithCode"
          nullable: true
    ErrorWithCode:
      description: Describes a single error encountered during request processing.
      required:
      - code
      - message
      type: object
      properties:
        code:
          description: An error code specific to the application.
          type: string
          example: errors.validation.failed
        message:
          description: The error message related to the field or general error.
          type: string
          example: Name is required
        path:
          description: The path to the field where the error occurred.
          type: string
          example: name
          nullable: true
        details:
          description: Additional details about the error.
          type: object
          additionalProperties: {}
          example:
            info: Additional detail about the error
          nullable: true
    Instant:
      format: date-time
      type: string
    Location:
      required:
      - latitude
      - longitude
      type: object
      properties:
        latitude:
          description: Latitude of the location
          type: number
          example: 16.8
        longitude:
          description: Longitude of the location
          type: number
          example: 14.8
        accuracy:
          format: int32
          description: Location accuracy in meters
          type: integer
          example: 5
          nullable: true
        positioned_at:
          description: ""
          type: string
          allOf:
          - $ref: "#/components/schemas/Instant"
          example: 2024-09-01T23:59:59.999Z
          nullable: true
    LocationWithAddress:
      type: object
      properties:
        formatted_address:
          description: ""
          type: string
          example: "Biberstraße 9, 1010 Wien, Austria"
          nullable: true
        location:
          description: ""
          type: object
          allOf:
          - $ref: "#/components/schemas/Location"
          example: "null"
          nullable: true
    LoginOptionsOidcProvider:
      required:
      - provider_name
      - authority_url
      - client_id
      type: object
      properties:
        provider_name:
          description: "The provider name, e.g. 'microsoft' or 'google'"
          type: string
          example: microsoft
        authority_url:
          description: "Authority/issuer URL, e.g. 'https://login.microsoftonline.com/<tenant>/v2.0'"
          type: string
          example: https://login.microsoftonline.com/1234-abcd/v2.0
        client_id:
          description: Client ID for this OIDC application
          type: string
          example: 00000000-0000-0000-0000-000000000000
    Message:
      required:
      - id
      - tenant_id
      - created_at
      - updated_at
      - conversation_id
      - participant_id
      - sequence
      - kind
      type: object
      properties:
        id:
          description: Unique identifier for a message.
          type: string
          example: eee00000-eee0000-eee00-eee00-eee000000
        tenant_id:
          format: uuid
          description: Unique identifier for the tenant.
          type: string
          example: ace00000-ace0-ace0-ace0-ace000000000
        created_at:
          description: Timestamp when the conversation was created.
          type: string
          allOf:
          - $ref: "#/components/schemas/Instant"
          example: 2022-11-03T20:26:10.344522Z
        updated_at:
          description: Timestamp when the conversation was last updated. Initially
            the same as created_at.
          type: string
          allOf:
          - $ref: "#/components/schemas/Instant"
          example: 2022-11-03T20:26:10.344522Z
        conversation_id:
          description: Unique identifier for a conversation type.
          maxLength: 50
          pattern: "\"^[a-zA-Z0-9][a-zA-Z0-9_-]*[a-zA-Z0-9]?$\""
          type: string
          example: Abc123
        participant_id:
          description: The id of the participant this messages is posted by.
          maxLength: 50
          pattern: "\"^[a-zA-Z0-9][a-zA-Z0-9_-]*[a-zA-Z0-9]?$\""
          type: string
          example: client123
        sequence:
          format: int32
          description: The sequence of the message in the conversation. This will
            be null if the message has not been processed yet.
          type: integer
          example: 0
          nullable: true
        kind:
          description: The kind of message.
          type: string
          allOf:
          - $ref: "#/components/schemas/MessageKind"
          example: TEXT
        text:
          description: "The text of the message. If kind is TEXT or REQUEST_LOCATION,\
            \ this field is required."
          maxLength: 4096
          minLength: 1
          type: string
          example: "Hello, how can I help you?"
          nullable: true
        location:
          description: ""
          type: object
          allOf:
          - $ref: "#/components/schemas/Location"
          nullable: true
        formatted_address:
          description: The formatted address of the location.
          type: string
          example: "Biberstraße 9, 1010 Vienna, Austria"
          nullable: true
        asset:
          description: ""
          type: object
          allOf:
          - $ref: "#/components/schemas/AssetResponse"
          nullable: true
        source_id:
          description: Source id of the message.
          type: string
          example: 0193df26-54b2-7142-ab2b-faba1babd679
          nullable: true
    MessageKind:
      enum:
      - TEXT
      - LOCATION
      - IMAGE
      - VIDEO
      - AUDIO
      - REQUEST_LOCATION
      type: string
    MessagePaginatedResponse:
      required:
      - has_more
      - total_elements
      - limit
      - messages
      type: object
      properties:
        has_more:
          description: Indicates if there are more pages to fetch.
          type: boolean
          example: "null"
        total_elements:
          format: int32
          description: Total number of elements across all pages.
          type: integer
          example: "null"
          nullable: true
        limit:
          format: int32
          description: The maximum number of elements in this page.
          type: integer
          example: "null"
          nullable: true
        messages:
          description: ""
          type: array
          items:
            $ref: "#/components/schemas/Message"
          example: "null"
        offset:
          format: int32
          description: The offset of the first element in this page (for offset-based
            pagination). Either offset or last_sequence must be set.
          type: integer
          example: "null"
          nullable: true
        last_sequence:
          format: int32
          description: The sequence (or key) of the last element in this page (for
            key-based pagination). Either offset or last_sequence must be set.
          type: integer
          example: "null"
          nullable: true
    MessagePostRequest:
      required:
      - participant_id
      - kind
      type: object
      properties:
        participant_id:
          description: The id of the participant this messages is posted by.
          maxLength: 50
          pattern: "\"^[a-zA-Z0-9][a-zA-Z0-9_-]*[a-zA-Z0-9]?$\""
          type: string
          example: client123
        kind:
          description: The kind of message.
          type: string
          allOf:
          - $ref: "#/components/schemas/MessageKind"
          example: TEXT
        text:
          description: "The text of the message. If kind is TEXT or REQUEST_LOCATION,\
            \ this field is required."
          maxLength: 4096
          minLength: 1
          type: string
          example: "Hello, how can I help you?"
          nullable: true
        location:
          description: ""
          type: object
          allOf:
          - $ref: "#/components/schemas/Location"
          example: "null"
          nullable: true
        formatted_address:
          description: The formatted address of the location.
          type: string
          example: "Biberstraße 9, 1010 Vienna, Austria"
          nullable: true
        source_id:
          description: "Source id of the message, if not provided a random UUID will\
            \ be used."
          maxLength: 100
          pattern: "\"^[a-zA-Z0-9][a-zA-Z0-9_-]*[a-zA-Z0-9]?$\""
          type: string
          example: 0193df26-54b2-7142-ab2b-faba1babd679
          nullable: true
    OidcConfig:
      description: Represents a Tenant OIDC configuration object as returned by the
        API
      required:
      - provider_name
      - authority_url
      - client_id
      type: object
      properties:
[...]
