---
openapi: 3.0.3
info:
  title: Wire API (development)
  version: 1.0.0
  description: The API for the Clientwire messaging service.
  termsOfService: https://clientwire.net/terms
  contact:
    email: support@clientwire.net
    name: Support
    url: https://www.clientwire.net/
servers:
- url: https://api.production.clientwire.net
- url: https://api.staging.clientwire.net
- url: https://api.int.clientwire.net
tags:
- name: Signup
  description: Operations related to signup.
- name: Signin
  description: Operations related to signin.
- name: Password Reset
  description: Operations related to resetting the password.
- name: Conversation Types
  description: Operations for tenant-level conversation types.
- name: Conversations
  description: Operations for conversations.
- name: Participants
  description: Operations for participants.
- name: Messages
  description: Operations for conversations.
- name: Users
  description: Operations related to users.
- name: Tenants
  description: Operations related to tenants.
- name: Tenant Config
  description: Operations related to tenant configurations.
- name: API Keys
  description: Operations related to users.
- name: OIDC Configs
  description: Operations related to OIDC configurations.
- name: SMS Settings
  description: Operations for managing per-tenant Twilio SMS settings.
- name: Geocoding
  description: Operations to geocode locations.
- name: Conversation Labels
  description: Operations for conversation-level labels
- name: Message Templates
  description: Operation for message templates
- name: Tenant Color Config
- name: Tenant Domains
- name: UserPreference
  description: Operations for user preferences.
- name: Webhook Features
  description: API to manage webhook feature settings
- name: Webhooks
- name: Workflows
  description: Operation for workflows
paths:
  /api/v1/api-keys:
    get:
      summary: List the API keys for this tenant.
      operationId: listApiKeys
      tags:
      - API Keys
      responses:
        "200":
          description: List of API keys returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyList"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
    post:
      summary: Create a new API key for this tenant.
      operationId: createApiKey
      tags:
      - API Keys
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyRequest"
        required: true
      responses:
        "201":
          description: API key created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateApiKeyResponse"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
  /api/v1/api-keys/{key_id}:
    patch:
      summary: Update an API key.
      description: Updates an API key's information by key_id for the specified tenant.
      operationId: updateApiKey
      tags:
      - API Keys
      parameters:
      - name: key_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: "Allowed fields are: name."
              type: object
              additionalProperties: {}
              example:
                name: new name
        required: true
      responses:
        "200":
          description: API key updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyListItem"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
    delete:
      summary: Delete an API key by key_id.
      operationId: deleteApiKey
      tags:
      - API Keys
      parameters:
      - name: key_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: API key deleted successfully.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
  /api/v1/auth/{tenant_id}/oauth2/token:
    post:
      summary: OAuth2 Token Endpoint
      description: "OAuth2-style token endpoint. \nSupports multiple grant_type values:\n\
        \ - authorization_code  (PKCE optional) // NOT YET IMPLEMENTED\n - password\
        \            (ROPC)\n - refresh_token\n - urn:ietf:params:oauth:grant-type:token-exchange\
        \ (Token Exchange)\n \nFor the Token Exchange grant_type, the subject_token_type\
        \ can be:\n - urn:clientwire:token-type:client-participant-auth-key\n - urn:ietf:params:oauth:token-type:access_token\n\
        \ \nurn:clientwire:token-type:client-participant-auth-key is a special token\
        \ type for exchanging a client's participant auth key for an access token.\n\
        urn:ietf:params:oauth:token-type:access_token is for our token-exchange service\
        \ to exchange your access token with a Clientwire access token by verifying\
        \ it at your provided userinfo endpoint.\n"
      operationId: oauth2TokenEndpoint
      tags:
      - Signin
      parameters:
      - name: tenant_id
        in: path
        required: true
        schema:
          type: string
          nullable: true
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  nullable: true
                client_id:
                  type: string
                  nullable: true
                client_secret:
                  type: string
                  nullable: true
                scope:
                  type: string
                  nullable: true
                username:
                  type: string
                  nullable: true
                password:
                  type: string
                  nullable: true
                subject_token:
                  type: string
                  nullable: true
                subject_token_type:
                  type: string
                  nullable: true
                code:
                  type: string
                  nullable: true
                redirect_uri:
                  type: string
                  nullable: true
                code_verifier:
                  type: string
                  nullable: true
                provider_name:
                  type: string
                  nullable: true
                refresh_token:
                  type: string
                  nullable: true
        required: true
      responses:
        "200":
          description: Successful token issuance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponseDto"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
  /api/v1/auth/{tenant_id}/options:
    get:
      summary: Returns a list of signin options of the user.
      description: "Based on the tenant_id and the email, we lookup what options for\
        \ signin are available."
      operationId: signinOptions
      tags:
      - Signin
      parameters:
      - name: tenant_id
        in: path
        required: true
        schema:
          type: string
      - name: email
        in: query
        schema:
          type: string
        required: true
      responses:
        "200":
          description: Returns signin options.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationOptions"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
  /api/v1/auth/{tenant_id}/password-reset:
    post:
      summary: Request a password reset.
      description: Request a password reset for the specified user.
      operationId: resetPassword
      tags:
      - Password Reset
      parameters:
      - name: tenant_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetPasswordRequest"
        required: true
      responses:
        "204":
          description: The password reset has been initiated or user not found.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "415":
          description: Unsupported Content Type.
  /api/v1/auth/{tenant_id}/password-reset/set:
    post:
      summary: Set password after reset.
      description: Provide the token and new password to complete the reset.
      operationId: setPassword
      tags:
      - Password Reset
      parameters:
      - name: tenant_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetPasswordRequest"
        required: true
      responses:
        "204":
          description: The password has been updated.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "415":
          description: Unsupported Content Type.
  /api/v1/client-participant/me:
    get:
      summary: Get information about the client participant and its conversation.
      description: Retrieves the participant details for the calling CLIENT_PARTICIPANT
        token.
      operationId: getClientParticipantHimself
      tags:
      - Participants
      responses:
        "200":
          description: Participant data returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participant"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - BearerAuth:
        - CLIENT_PARTICIPANT
  /api/v1/conversation-types:
    get:
      summary: List all conversation types for the specified tenant.
      description: Returns all conversation types for the tenant.
      operationId: getConversationTypes
      tags:
      - Conversation Types
      responses:
        "200":
          description: List of conversation types returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationTypeListResponse"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
    post:
      summary: Create a new conversation type for the specified tenant.
      description: Creates a conversation type for a tenant.
      operationId: createConversationType
      tags:
      - Conversation Types
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationTypePostRequest"
        required: true
      responses:
        "201":
          description: Conversation type created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationType"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
  /api/v1/conversation-types/{conversation_type_id}:
    patch:
      summary: Update partial fields of an existing conversation type.
      description: Allows patching only specific fields of a conversation type.
      operationId: updateConversationType
      tags:
      - Conversation Types
      parameters:
      - name: conversation_type_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: The patch body for updating conversation type fields.
        required: true
        content:
          application/json:
            schema:
              description: "Allowed fields are: id, description, display_name_shared_by_users,\
                \ display_name_for_workflow_participants ,conversation_data_schema,\
                \ conversation_data_list_item_template, sms_template_name, email_template_name,\
                \ sms_sender_id"
              type: object
              additionalProperties:
                type: string
              example:
                description: new description
      responses:
        "200":
          description: Conversation type updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationType"
        "404":
          description: Not found.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
    get:
      summary: Get a single conversation type.
      description: Retrieves a conversation type by its ID.
      operationId: getConversationType
      tags:
      - Conversation Types
      parameters:
      - name: conversation_type_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Conversation type found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationType"
        "404":
          description: Not found.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
    delete:
      summary: Delete a conversation type.
      description: Removes a conversation type by its ID.
      operationId: deleteConversationType
      tags:
      - Conversation Types
      parameters:
      - name: conversation_type_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Conversation type deleted successfully.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
    put:
      summary: Create or update a conversation type.
      description: "If not found, conversation type is created; otherwise it is updated."
      operationId: createOrUpdateConversationType
      tags:
      - Conversation Types
      parameters:
      - name: conversation_type_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationTypePutRequest"
        required: true
      responses:
        "201":
          description: Conversation type created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationType"
        "200":
          description: Conversation type updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationType"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
  /api/v1/conversations:
    get:
      summary: List all conversations for the specified tenant.
      description: Returns a paginated list of conversations for the tenant.
      operationId: getConversations
      tags:
      - Conversations
      parameters:
      - name: archived
        in: query
        schema:
          type: boolean
          nullable: true
      - description: Only include messages created after this date-time
        schema:
          format: date-time
        name: created_after
        in: query
      - description: Only include messages created before this date-time
        schema:
          format: date-time
        name: created_before
        in: query
      - description: Include the specified related resources in the response.
        name: includes
        schema:
          example: "PARTICIPANTS,CONVERSATION_TYPE"
        in: query
      - name: limit
        in: query
        schema:
          format: int32
          default: 10
          type: integer
      - name: offset
        in: query
        schema:
          format: int32
          default: 0
          type: integer
      - description: "Direction of the sort. Possible values: ASC, DESC. If not provided\
          \ will fallback to DESC."
        schema:
          example: created_at
        name: order
        in: query
      - description: "Sort result based on this field. Possible values: created_at,\
          \ updated_at. If not provided it will fallback to created_at"
        schema:
          example: created_at
        name: order_by
        in: query
      - name: search
        in: query
        schema:
          type: string
          nullable: true
      - description: Only include messages updated after this date-time
        schema:
          format: date-time
        name: updated_after
        in: query
      - description: Only include messages updated before this date-time
        schema:
          format: date-time
        name: updated_before
        in: query
      responses:
        "200":
          description: List of conversations returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationPaginatedResponse"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
    post:
      summary: Create a new conversation for the specified tenant.
      description: Creates a conversation and optional participants.
      operationId: createConversation
      tags:
      - Conversations
      parameters:
      - description: Include the specified related resources in the response.
        name: includes
        schema:
          example: "PARTICIPANTS,CONVERSATION_TYPE"
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationPostRequest"
        required: true
      responses:
        "201":
          description: Conversation created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
        - USER
  /api/v1/conversations/by_ids:
    post:
      summary: Get a list of conversations by their ids.
      description: Retrieves multiple conversations by their public IDs in a POST
        request body.
      operationId: getConversationsByIds
      tags:
      - Conversations
      parameters:
      - description: Include the specified related resources in the response.
        schema:
          example: "PARTICIPANTS,CONVERSATION_TYPE"
        name: includes
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationsByIdsRequest"
        required: true
      responses:
        "200":
          description: List of conversations returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationListResponse"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
  /api/v1/conversations/{conversation_id}:
    patch:
      summary: Update partial fields of an existing conversation.
      description: "Allows patching id, archived, conversation_data, etc."
      operationId: updateConversation
      tags:
      - Conversations
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - description: Include the specified related resources in the response.
        schema:
          example: "PARTICIPANTS,CONVERSATION_TYPE"
        name: includes
        in: query
      requestBody:
        description: The patch body for updating conversation fields.
        required: true
        content:
          application/json:
            schema:
              description: "The fields to update. Allowed fields are: id, archived,\
                \ description and conversation_data."
              type: object
              additionalProperties: {}
              example:
                conversation_data: new-data
      responses:
        "200":
          description: Conversation updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "404":
          description: Not found.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
        - USER
    get:
      summary: Get a single conversation.
      description: Retrieves conversation details by ID.
      operationId: getConversation
      tags:
      - Conversations
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - description: Include the specified related resources in the response.
        schema:
          example: "PARTICIPANTS,CONVERSATION_TYPE"
        name: includes
        in: query
      responses:
        "200":
          description: Conversation found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "404":
          description: Not found.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
        - CLIENT_PARTICIPANT
    delete:
      summary: Delete a conversation.
      description: Removes a conversation by ID.
      operationId: deleteConversation
      tags:
      - Conversations
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Conversation deleted successfully.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
    put:
      summary: Create or update a conversation.
      description: "If it doesn't exist, creates it; otherwise updates it."
      operationId: createOrUpdateConversation
      tags:
      - Conversations
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - description: Include the specified related resources in the response.
        name: includes
        schema:
          example: "PARTICIPANTS,CONVERSATION_TYPE"
        in: query
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationPutRequest"
      responses:
        "201":
          description: Conversation created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "200":
          description: Conversation updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
        - USER
  /api/v1/conversations/{conversation_id}/labels:
    put:
      summary: Updates all labels for the specified conversation
      description: Updates labels for conversations
      operationId: updateConversationLabels
      tags:
      - Conversation Labels
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - description: Include the specified related resources in the response.
        schema:
          example: "PARTICIPANTS,CONVERSATION_TYPE"
        name: includes
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationLabelPutRequest"
        required: true
      responses:
        "200":
          description: Conversation labels updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
        - USER
    post:
      summary: Create new labels for the specified conversation
      description: Creates labels for conversations
      operationId: createConversationLabels
      tags:
      - Conversation Labels
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - description: Include the specified related resources in the response.
        schema:
          example: "PARTICIPANTS,CONVERSATION_TYPE"
        name: includes
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationLabelPostRequest"
        required: true
      responses:
        "201":
          description: Conversation label created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
        - USER
  /api/v1/conversations/{conversation_id}/labels/{label}:
    put:
      summary: Updates a specific label with a new one
      description: Updates a specific label
      operationId: updateConversationLabel
      tags:
      - Conversation Labels
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - name: label
        in: path
        required: true
        schema:
          type: string
      - description: Include the specified related resources in the response.
        schema:
          example: "PARTICIPANTS,CONVERSATION_TYPE"
        name: includes
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationLabelPutRequest"
        required: true
      responses:
        "200":
          description: Conversation labels updated successfully
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
        - USER
    delete:
      summary: Deletes a label for the specified conversation
      description: Deletes label for a conversation
      operationId: deleteConversationLabel
      tags:
      - Conversation Labels
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - name: label
        in: path
        required: true
        schema:
          type: string
      - description: Include the specified related resources in the response.
        schema:
          example: "PARTICIPANTS,CONVERSATION_TYPE"
        name: includes
        in: query
      responses:
        "200":
          description: Conversation label deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
        - USER
  /api/v1/conversations/{conversation_id}/lock:
    post:
      summary: Lock a conversation
      description: "Lock a conversation until a specified time, optionally create\
        \ a note also"
      operationId: lockConversation
      tags:
      - Conversations
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - description: Include the specified related resources in the response
        schema:
          example: "PARTICIPANTS,CONVERSATION_TYPE"
        name: includes
        in: query
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationLockRequest"
      responses:
        "200":
          description: Conversation locked successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
  /api/v1/conversations/{conversation_id}/messages:
    get:
      summary: Get messages of a conversation.
      description: Returns a paginated list of messages for the conversation.
      operationId: getMessages
      tags:
      - Messages
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - description: Only include messages created after this date-time
        schema:
          format: date-time
        name: created_after
        in: query
      - description: Only include messages created before this date-time
        schema:
          format: date-time
        name: created_before
        in: query
      - description: "If using sequence-based pagination, the last known sequence."
        name: last_sequence
        in: query
        schema:
          format: int32
          type: integer
          nullable: true
      - description: Max number of messages to return (page size)
        name: limit
        in: query
        schema:
          format: int32
          type: integer
          nullable: true
      - description: Starting offset for pagination
        name: offset
        in: query
        schema:
          format: int32
          type: integer
          nullable: true
      - description: Sort direction (asc/desc)
        name: order
        in: query
        schema:
          type: string
          nullable: true
      - description: "Field to sort by, e.g. 'createdAt' or 'updatedAt'"
        name: order_by
        in: query
        schema:
          type: string
          nullable: true
      - description: Only include messages updated after this date-time
        schema:
          format: date-time
        name: updated_after
        in: query
      - description: Only include messages updated before this date-time
        schema:
          format: date-time
        name: updated_before
        in: query
      responses:
        "200":
          description: Messages retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessagePaginatedResponse"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - CLIENT_PARTICIPANT
        - USER
        - OWNER
        - API_KEY
    post:
      summary: Add a new message to a conversation.
      description: Queues a message to be added to the conversation.
      operationId: createMessage
      tags:
      - Messages
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MessagePostRequest"
      responses:
        "201":
          description: Message queued for adding successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - CLIENT_PARTICIPANT
        - USER
        - OWNER
        - API_KEY
  /api/v1/conversations/{conversation_id}/messages/{message_id}:
    get:
      summary: Get a single message in the specified conversation.
      description: Retrieves details of a specific message by ID.
      operationId: getMessage
      tags:
      - Messages
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - name: message_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Message retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - CLIENT_PARTICIPANT
        - USER
        - OWNER
        - API_KEY
  /api/v1/conversations/{conversation_id}/participants:
    get:
      summary: List all participants in the specified conversation.
      description: Returns all participants for a conversation.
      operationId: getParticipants
      tags:
      - Participants
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: A list of conversation participants.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ParticipantListResponse"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
    post:
      summary: Create a new participant in the specified conversation.
      description: Creates a conversation participant.
      operationId: createParticipant
      tags:
      - Participants
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParticipantPostRequest"
        required: true
      responses:
        "201":
          description: Participant created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participant"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
  /api/v1/conversations/{conversation_id}/participants/notify:
    post:
      summary: Notify conversation client participants.
      description: Sends a notification to participants of the conversation.
      operationId: notifyClientParticipants
      tags:
      - Participants
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Participants notified successfully.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
  /api/v1/conversations/{conversation_id}/participants/{participant_id}:
    patch:
      summary: Patch partial fields of a participant.
      description: "Allows updating only display_name, phone_number, email, etc."
      operationId: updateParticipant
      tags:
      - Participants
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - name: participant_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParticipantPatchRequest"
        required: true
      responses:
        "200":
          description: Participant updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participant"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
    get:
      summary: Get a single participant in the specified conversation.
      description: Retrieves participant details by ID.
      operationId: getParticipant
      tags:
      - Participants
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - name: participant_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: The conversation participant.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participant"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
    delete:
      summary: Delete a participant from the specified conversation.
      description: Removes a participant by ID.
      operationId: deleteParticipant
      tags:
      - Participants
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - name: participant_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Participant deleted successfully.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
    put:
      summary: Create or update a participant in the specified conversation.
      description: "If participant doesn’t exist, it is created, otherwise it is fully\
        \ updated."
      operationId: createOrUpdateParticipant
      tags:
      - Participants
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - name: participant_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParticipantPutRequest"
        required: true
      responses:
        "201":
          description: Participant created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participant"
        "200":
          description: Participant updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participant"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
  /api/v1/conversations/{conversation_id}/participants/{participant_id}/activity:
    post:
      summary: Record participant activity.
      description: "Update participant’s message-seen info, etc."
      operationId: updateParticipantActivity
      tags:
      - Participants
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - name: participant_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParticipantActivityRequest"
        required: true
      responses:
        "200":
          description: Conversation participant activity updated successfully.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - CLIENT_PARTICIPANT
        - USER
        - OWNER
        - API_KEY
  /api/v1/conversations/{conversation_id}/participants/{participant_id}/client-url:
    get:
      summary: Get the client participant URL
      description: Retrieves the URL for the client participant
      operationId: getClientParticipantAuthUrl
      tags:
      - Participants
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - name: participant_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: The URL of the client participant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ParticipantClientUrlDto"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
  /api/v1/conversations/{conversation_id}/unlock:
    post:
      summary: Unlock a conversation
      description: Unlock a conversation
      operationId: unlockConversation
      tags:
      - Conversations
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
      - description: Include the specified related resources in the response.
        schema:
          example: "PARTICIPANTS,CONVERSATION_TYPE"
        name: includes
        in: query
      responses:
        "200":
          description: Conversation unlocked successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
  /api/v1/conversations/{user_id}/unlock:
    put:
      summary: Unlock conversations locked by user
      description: Unlock all conversations locked by this user
      operationId: unlockConversationsFromUsers
      tags:
      - Conversations
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Conversations unlocked successfully.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
  /api/v1/geocoder/reverse:
    get:
      summary: Reverse geocode a location.
      description: "Given latitude/longitude, returns the address."
      operationId: reverseGeocode
      tags:
      - Geocoding
      parameters:
      - name: latitude
        in: query
        schema:
          format: double
          type: number
      - name: longitude
        in: query
        schema:
          format: double
          type: number
      responses:
        "200":
          description: Reverse geocoding successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationWithAddress"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - CLIENT_PARTICIPANT
        - USER
        - OWNER
        - API_KEY
  /api/v1/geocoder/search:
    get:
      summary: Search for a location.
      description: "Given a text query, returns a geocoded address."
      operationId: searchGeocode
      tags:
      - Geocoding
      parameters:
      - name: text
        in: query
        schema:
          type: string
        required: true
      responses:
        "200":
          description: Geocode search successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationWithAddress"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - CLIENT_PARTICIPANT
        - USER
        - OWNER
        - API_KEY
  /api/v1/geocoder/search/structured:
    get:
      summary: Search for a location (structured).
      description: "Given partial address fields, returns a geocoded address."
      operationId: searchStructuredGeocode
      tags:
      - Geocoding
      parameters:
      - name: country
        in: query
        schema:
          type: string
          nullable: true
      - name: postalCode
        in: query
        schema:
          format: int32
          type: integer
          nullable: true
      - name: street
        in: query
        schema:
          type: string
        required: true
      responses:
        "200":
          description: Structured geocode search successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationWithAddress"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - CLIENT_PARTICIPANT
        - USER
        - OWNER
        - API_KEY
  /api/v1/message_templates:
    get:
      summary: Paged message templates.
      description: Fetches message templates for the tenant.
      operationId: listMessageTemplates
      tags:
      - Message Templates
      parameters:
      - name: direction
        in: query
        schema:
          type: string
          nullable: true
      - description: |-
          Include the specified related resources in the response.
          Supported values: 'PARAMETERS', 'TEXTS'.
          If empty, no related resource is returned
        schema:
          example: "PARAMETERS,TEXTS"
        name: includes
        in: query
      - name: limit
        in: query
        schema:
          format: int32
          default: 2147483647
          type: integer
      - name: offset
        in: query
        schema:
          format: int32
          default: 0
          type: integer
      - name: sortBy
        in: query
        schema:
          type: string
          nullable: true
      responses:
        "200":
          description: Page of message templates returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageTemplatePaginatedResponse"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
    post:
      summary: Create a new message template for the specified tenant.
      description: Creates a message template.
      operationId: createMessageTemplate
      tags:
      - Message Templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MessageTemplatePostRequest"
        required: true
      responses:
        "201":
          description: Message template created successfully.
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
  /api/v1/message_templates/{name}:
    put:
      summary: Update a message template.
      description: Updates a message template.
      operationId: updateMessageTemplate
      tags:
      - Message Templates
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      - description: |-
          Include the specified related resources in the response.
          Supported values: 'PARAMETERS', 'TEXTS'.
          If empty, no related resource is returned
        schema:
          example: "PARAMETERS,TEXTS"
        name: includes
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MessageTemplatePutRequest"
        required: true
      responses:
        "200":
          description: Message template updated successfully.
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
    get:
      summary: Message template
      description: Fetches message templates by id.
      operationId: getMessageTemplateById
      tags:
      - Message Templates
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      - description: |-
          Include the specified related resources in the response.
          Supported values: 'PARAMETERS', 'TEXTS'.
          If empty, no related resource is returned
        schema:
          example: "PARAMETERS,TEXTS"
        name: includes
        in: query
      responses:
        "200":
          description: Message template returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageTemplate"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
    delete:
      summary: Delete a message template.
      description: Removes a message template by ID.
      operationId: deleteMessageTemplate
      tags:
      - Message Templates
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Message template deleted successfully.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
  /api/v1/oidc-configs:
    get:
      summary: List all OIDC provider configs for the specified tenant.
      description: Retrieves all OIDC configs for the given tenant.
      operationId: listOidcProviders
      tags:
      - OIDC Configs
      responses:
        "200":
          description: All OIDC configs returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OidcConfigList"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
    post:
      summary: Create a new OIDC provider config for the specified tenant.
      description: Creates an OIDC config if it does not already exist for that provider.
      operationId: createOidcProvider
      tags:
      - OIDC Configs
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOidcConfigRequest"
        required: true
      responses:
        "201":
          description: OIDC config created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OidcConfig"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
  /api/v1/oidc-configs/{provider_name}:
    patch:
      summary: Update partial fields of an existing OIDC provider config.
      description: "Allows updating only certain fields like client_id, authority_url,\
        \ client_secret, scope."
      operationId: patchOidcProvider
      tags:
      - OIDC Configs
      parameters:
      - name: provider_name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: The patch body for updating OIDC provider config fields.
        required: true
        content:
          application/json:
            schema:
              description: "Allowed fields are: client_id, authority_url, client_secret,\
                \ scope."
              type: object
              additionalProperties: {}
              example:
                client_secret: new-secret
      responses:
        "200":
          description: OIDC config updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OidcConfig"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
    get:
      summary: Get a single OIDC provider config by provider name.
      description: Finds an OIDC provider config by its provider name.
      operationId: getOidcProvider
      tags:
      - OIDC Configs
      parameters:
      - name: provider_name
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OIDC provider found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OidcConfig"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
    delete:
      summary: Delete an OIDC provider config.
      description: Removes an OIDC provider config from the tenant’s configuration.
      operationId: deleteOidcProvider
      tags:
      - OIDC Configs
      parameters:
      - name: provider_name
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: OIDC provider config deleted successfully.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
  /api/v1/signup:
    post:
      summary: Create a new account and user.
      description: Tenant and user created successfully. You should now be able to
        login.
      operationId: signup
      tags:
      - Signup
      requestBody:
        description: The data needed to sign up a new tenant and user.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignupRequest"
      responses:
        "201":
          description: Tenant and user created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignupResponse"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
  /api/v1/signup/machine:
    post:
      summary: Signup for automation/machines.
      description: "Signup for automated new tenant creation. You will need an existing\
        \ 'main' tenant thathas been provisioned to allow machine setup. Instead of\
        \ creating a user, we will create anAPI key for you."
      operationId: signupAsMachine
      tags:
      - Signup
      requestBody:
        description: The data needed to sign up a new tenant with api key.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignupMachineRequest"
      responses:
        "201":
          description: Tenant and API key created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignupResponse"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
  /api/v1/sms/twilio:
    put:
      summary: Create or update Twilio SMS settings for this tenant.
      description: Upserts the Twilio SMS settings for the specified tenant.
      operationId: upsertTwilioSmsSettings
      tags:
      - SMS Settings
      requestBody:
        description: Twilio SMS settings data
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TwilioSettings"
        required: true
      responses:
        "200":
          description: Settings created or updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TwilioSettings"
        "400":
          description: Bad request.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
    get:
      summary: Get the Twilio SMS settings for this tenant.
      description: Returns the Twilio SMS settings if available.
      operationId: getTwilioSmsSettings
      tags:
      - SMS Settings
      responses:
        "200":
          description: Returned Twilio SMS settings (if any).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TwilioSettings"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
    delete:
      summary: Delete the Twilio SMS settings for this tenant.
      description: Removes the Twilio SMS settings for the tenant if they exist.
      operationId: deleteTwilioSmsSettings
      tags:
      - SMS Settings
      responses:
        "204":
          description: Deleted successfully.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
  /api/v1/tenant:
    patch:
      summary: Update a tenant by ID.
      description: Updates tenant fields such as name or subdomain.
      operationId: updateTenant
      tags:
      - Tenants
      requestBody:
        description: The patch body for updating tenant fields.
        required: true
        content:
          application/json:
            schema:
              description: "The patch body for updating tenant fields. Allowed fields\
                \ are: name, token_exchange_userinfo_url and user_auto_provisioning_domains."
              type: object
              additionalProperties: {}
              example:
                name: new-name
      responses:
        "200":
          description: Tenant updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tenant"
        "404":
          description: Not found.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
    get:
      summary: Get a tenant by ID.
      description: Returns the tenant.
      operationId: getTenant
      tags:
      - Tenants
      responses:
        "200":
          description: Returns the tenant.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tenant"
        "404":
          description: Not found.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
  /api/v1/tenant/color/config:
    put:
      summary: Create or update tenant color config.
      description: "If it doesn't exist, creates it; otherwise updates it."
      operationId: createOrUpdateTenantColorConfig
      tags:
      - Tenant Color Config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TenantColorConfig"
      responses:
        "201":
          description: Tenant color config created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "200":
          description: Tenant color config updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
  /api/v1/tenant/config:
    get:
      summary: Get the current config for the tenant specified via query parameters.
      description: "At least one of tenant_subdomain, tenant_id, or domain must be\
        \ provided"
      operationId: getTenantConfig
      tags:
      - Tenant Config
      parameters:
      - description: Get tenant config for the specified domain.
        required: false
        name: domain
        in: query
        schema:
          type: string
          nullable: true
      - description: Get tenant config for the specified ID.
        required: false
        name: tenant_id
        in: query
        schema:
          type: string
          nullable: true
      responses:
        "200":
          description: Returns the tenant config.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantConfig"
        "404":
          description: Not found.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "415":
          description: Unsupported Content Type.
  /api/v1/tenants/{tenant_id}/domains:
    get:
      summary: Get all domains for a tenant
      description: List all domains (custom and system) associated with a tenant
      operationId: getDomains
      tags:
      - Tenant Domains
      parameters:
      - description: The tenant ID
        name: tenant_id
        in: path
        required: true
        schema:
          type: string
      - description: Filter domains by type (system or custom)
        required: false
        name: type
        in: query
        schema:
          type: string
          nullable: true
      responses:
        "200":
          description: List of domains for the tenant
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TenantDomain"
        "404":
          description: Not found.
        "403":
          description: Forbidden.
        "401":
          description: Not Authorized
      security:
      - BearerAuth:
        - OWNER
        - API_KEY
    post:
      summary: Create a custom domain
      description: Create a new custom domain for a tenant. Only one custom domain
        is allowed per tenant per type (client/main).
      operationId: createDomain
      tags:
      - Tenant Domains
      parameters:
      - description: The tenant ID
        name: tenant_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TenantDomainCreate"
        required: true
      responses:
        "201":
          description: Custom domain created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantDomain"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "403":
          description: Forbidden.
        "409":
          description: Domain already exists or custom domain limit reached
        "401":
          description: Not Authorized
      security:
      - BearerAuth:
        - OWNER
        - API_KEY
  /api/v1/tenants/{tenant_id}/domains/{domain_id}:
    put:
      summary: Update a custom domain
      description: Update an existing custom domain for a tenant. System domains cannot
        be updated.
      operationId: updateDomain
      tags:
      - Tenant Domains
      parameters:
      - description: The domain ID to update
        name: domain_id
        in: path
        required: true
        schema:
          type: string
      - description: The tenant ID
        name: tenant_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TenantDomainUpdate"
        required: true
      responses:
        "200":
          description: Domain updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantDomain"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "403":
          description: Forbidden.
        "404":
          description: Domain not found
        "409":
          description: Domain already exists
        "401":
          description: Not Authorized
      security:
      - BearerAuth:
        - OWNER
    delete:
      summary: Delete a custom domain
      description: Delete a custom domain for a tenant. System domains cannot be deleted.
      operationId: deleteDomain
      tags:
      - Tenant Domains
      parameters:
      - description: The domain ID to delete
        name: domain_id
        in: path
        required: true
        schema:
          type: string
      - description: The tenant ID
        name: tenant_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Domain deleted successfully
        "400":
          description: Cannot delete system domain
        "403":
          description: Forbidden.
        "404":
          description: Domain not found
        "401":
          description: Not Authorized
      security:
      - BearerAuth:
        - OWNER
  /api/v1/users:
    get:
      summary: List all users for a tenant.
      description: Returns a list of all users for the specified tenant.
      operationId: listUsers
      tags:
      - Users
      responses:
        "200":
          description: List of users returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserListResponse"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
    post:
      summary: Create a new user.
      description: Creates a new user for the specified tenant.
      operationId: createUser
      tags:
      - Users
      requestBody:
        description: The details of the user to create.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
      responses:
        "201":
          description: User created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
  /api/v1/users/me:
    get:
      summary: Get the currently authenticated user.
      description: Returns the current user for the authenticated request.
      operationId: getCurrentUser
      tags:
      - Users
      responses:
        "200":
          description: The currently authenticated user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - USER
  /api/v1/users/{user_id}:
    patch:
      summary: Update a user.
      description: Updates a user's information by ID for the specified tenant.
      operationId: updateUser
      tags:
      - Users
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: The patch body for updating the users fields.
        required: true
        content:
          application/json:
            schema:
              description: "Allowed fields are: email, role, firstname, lastname."
              type: object
              additionalProperties: {}
              example:
                description: new description
      responses:
        "200":
          description: User updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
        - USER
    get:
      summary: Get a user by ID.
      description: Returns details of a user by tenant ID and user ID.
      operationId: getUser
      tags:
      - Users
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: The user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - USER
    delete:
      summary: Delete a user.
      description: Deletes a user by ID for the specified tenant.
      operationId: deleteUser
      tags:
      - Users
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: User deleted successfully.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "404":
          description: Not found.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - API_KEY
        - OWNER
  /api/v1/users/{user_id}/preferences:
    put:
      summary: Update user preferences.
      description: Updates user preferences.
      operationId: createOrUpdateUserPreference
      tags:
      - UserPreference
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/UUID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPreferencePostRequest1"
        required: true
      responses:
        "200":
          description: User preferences updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPreference"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
    get:
      summary: Get user preferences.
      description: Retrieves user preferences by user ID.
      operationId: getUserPreference
      tags:
      - UserPreference
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/UUID"
      responses:
        "200":
          description: User preference found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPreference"
        "404":
          description: Not found.
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
    post:
      summary: Create user preferences.
      description: Creates user preferences.
      operationId: createUserPreference
      tags:
      - UserPreference
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/UUID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPreferencePostRequest"
        required: true
      responses:
        "201":
          description: User preferences created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPreference"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "409":
          description: Conflict. A resource with the same id/name already exists.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - USER
        - OWNER
        - API_KEY
  /api/v1/webhook-settings:
    put:
      summary: Update or create webhook settings (endpoint URL only).
      description: "Allows setting the endpoint_url field. If the row doesn't exist,\
        \ it will be created."
      operationId: setWebhookSettings
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookSettingsRequest"
        required: true
      responses:
        "200":
          description: Endpoint URL updated (or created).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantWebhookSettings"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
    get:
      summary: Get the tenant’s webhook settings.
      description: "Returns the current endpoint URL, signature scheme, and the secret\
        \ in plain text. "
      operationId: getWebhookSettings
      tags:
      - Webhooks
      responses:
        "200":
          description: Webhook settings returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantWebhookSettings"
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
  /api/v1/webhook-settings/rotate-secret:
    post:
      summary: Rotate the webhook secret. Optionally update the signature scheme.
      description: "Generates a new random whsec_ secret, encrypts, and saves it."
      operationId: rotateWebhooksSecret
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RotateWebhookSecretRequest"
        required: true
      responses:
        "200":
          description: "Secret rotated, new plain secret returned."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantWebhookSettings"
        "400":
          description: Bad request. Usually means that the input data was invalid
            or misformed.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - ApiKeyAuth: []
      - BearerAuth:
        - OWNER
        - API_KEY
  /api/v1/webhook-settings/test:
    post:
      summary: Trigger a test webhook event
      description: "\n            Enqueues a \"test.webhook\" event to be sent to\
        \ your currently configured\n            webhook endpoint. This can help you\
        \ verify your endpoint is receiving and\n            verifying Standard Webhooks\
        \ signatures correctly.\n            \n            **Important**: Make sure\
        \ you've set your webhook endpoint URL \n            via `PUT /api/v1/webhook-settings`\
        \ before calling this.\n            \n            The test event payload is:\n\
        \            ```\n            {\n              \"type\": \"test.webhook\"\
        ,\n              \"timestamp\": \"2025-01-01T12:00:00Z\",\n              \"\
        data\": {\n                \"example\": \"Hello World!\"\n              }\n\
        \            }\n            ```\n            The event is signed using your\
        \ stored secret, \n            then delivered to the endpoint URL with standard\
        \ headers:\n            - `webhook-id`: a unique message ID \n           \
        \ - `webhook-timestamp`: an integer (Unix seconds)\n            - `webhook-signature`:\
        \ the signature(s), e.g. `v1,...`\n            If the endpoint responds with\
        \ a 2xx status, the queue marks it successful. \n            Otherwise, the\
        \ queue retries automatically, up to 6 times.\n        "
      operationId: triggerTestWebhook
      tags:
      - Webhooks
      responses:
        "204":
          description: A test webhook event has been scheduled.
        "401":
          description: Missing or invalid credentials.
        "403":
          description: Forbidden.
        "415":
          description: Unsupported Content Type.
      security:
      - BearerAuth:
        - OWNER
        - API_KEY
  /api/v1/webhooks/features:
    post:
      summary: Update a webhook feature setting
      description: Updates or creates a webhook feature setting for the specified
        tenant
      operationId: updateWebhookFeature
      tags:
      - Webhook Features
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTenantWebhookFeature"
        required: true
      responses:
        "200":
          description: Webhook feature setting updated successfully
          content:
            application/json:
              schema:
[...]
